extends layout

block content
  
  div#container(class='row center-block')
    include ./include/searchBar.jade
    
    div#loading(style="display:none")
      img(src="/images/loading.gif" style="max-width: 75px")
      p Loading ...

    //- purely for development
    p#information
    div(class='wordwrap center-block JSON')

    //- used by js
    div(hidden class='JSON')

    //- graphs & such
    include ./include/test.jade

    //- thanks for reading!
    include ./include/foot.jade

             

