doctype html
html
  include ./include/head.jade
  <link href='https://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
  body
    block content
    include ./include/scripts.jade

