div#search(class='center-block')

  img(src='/images/alienHead.png')
    
  div(class='center-block')
    form#nameInput(class='input-group')
      input#userName(class='form-control' type='text'  autocomplete='off' placeholder='Input a reddit user name ...')
      
      span(class='input-group-btn')
        button(type='submit' class='btn btn-default')
          i(class='fa fa-search fa-fw')
  
  h1 RALF

