body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*#search {
    font-family: "ff-meta-web-1", "ff-meta-web-2",Consolas;
    display: block;
}*/

#container {
  padding-top: 5%
}

#container hr {
  display: block;
  border: none;
  height: 2px;
  background-color: black;
  margin-top: 0px;
}

#container img {
  display: block;
  margin-bottom: 0px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

