body {
    font: 14px Helvetica, Arial, sans-serif;
    background-color: #565555;
    color: white;
}

#container {
    padding-top: 5%;
}

#search {
  padding: 2em;
  width: 55%;
  max-width: 560px;
  min-width: 320px;
}

#search > h1 {
  font-family: 'Covered By Your Grace';
  color: #222222;
}

#search > img {
  width: 70%;
  min-width: 200px; 
  margin-bottom: 0
}

#search > div[0] {
  max-width: 400px; 
  margin-top: 0; 
}

#loading {
   display:none;
}

#loading > img {
  max-width: 75px;
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.JSON {
    max-width: 375px;
}
